{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}

    <h2> Créer une Offre </h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('apm_vente_offre_index') }}">Abandonner !</a>
        </li>
    </ul>
{% endblock %}
