{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>profile_transporteur creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('apm_transport_transporteur_All_index') }}">Retour à la liste des transporteurs</a>
        </li>
    </ul>
{% endblock %}
