symfony
/app/config/parameters.yml
/build/
/var/
composer.json
/vendor/
/web/
.idea/
UPGRADE-4.0.md

src/APM/MarketingReseauBundle/Entity/Reseau_conseillers.php~
src/APM/TransportBundle/Entity/Livraison.php~
src/APM/TransportBundle/Entity/Livreur_boutique.php~
src/APM/TransportBundle/Entity/Profile_transporteur.php~
src/APM/TransportBundle/Entity/Zone_intervention.php~
src/APM/UserBundle/Entity/Commentaire.php~
src/APM/UserBundle/Entity/Communication.php~
src/APM/UserBundle/Entity/Groupe_relationnel.php~
src/APM/UserBundle/Entity/Individu_to_groupe.php~
src/APM/UserBundle/Entity/Message.php~
src/APM/UserBundle/Entity/Piece_jointe.php~
src/APM/UserBundle/Entity/Utilisateur.php~
src/APM/UserBundle/Entity/Utilisateur_avm.php~
src/APM/VenteBundle/Entity/Boutique.php~
src/APM/VenteBundle/Entity/Categorie.php~
src/APM/VenteBundle/Entity/Offre.php~
src/APM/VenteBundle/Entity/Rabais_offre.php~
src/APM/VenteBundle/Entity/Remise.php~
src/APM/VenteBundle/Entity/Suggestion_produit.php~
src/APM/VenteBundle/Entity/Transaction.php~
src/APM/VenteBundle/Entity/Transaction_produit.php~
src/APM/MarketingDistribueBundle/Entity/Commissionnement.php~
src/APM/MarketingDistribueBundle/Entity/Conseiller.php~
src/APM/MarketingDistribueBundle/Entity/Quota.php~
src/APM/AchatBundle/Entity/Groupe_offre.php~
src/APM/AchatBundle/Entity/Service_apres_vente.php~
src/APM/AchatBundle/Entity/Specification_achat.php~
src/APM/AnimationBundle/Entity/Base_documentaire.php~
src/APM/UserBundle/Entity/Admin.php~
src/APM/UserBundle/Entity/Utilisateur.php~
src/APM/UserBundle/Entity/Utilisateur_avm.php~

