<html>
<header class="header">
    <div class="row">
        <div class="col-lg-3">
            <p> LOGO AVM </p>
        </div>
        <div class="col-lg-4">
            <p> SEARCH BAR</p>
        </div>
        <div class="col-lg-5">
            <p> ENREGISTREZ VOUS ICI</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p> Ma Banniere ici</p>
        </div>
    </div>
</header>
</html>