<html>
<nav class="navbar navbar-default" role="navigation">

    <div class="nav-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsivebar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <small>Boutique</small>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="responsivebar">
        <div class="row">

            <div class="col-lg-3">
                <p>something here!</p>
            </div>
            <div class="col-lg-4">
                <form class="navbar-form navbar-left " role="search">

                    <div class="form-group input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                search <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"> categorie</a></li>
                                <li><a href="#"> categorie</a></li>
                                <li><a href="#"> categorie</a></li>
                                <li><a href="#"> categorie</a></li>
                                <li class="divider"></li>
                                <li><a href="#"> categorie</a></li>
                                <li><a href="#"> categorie</a></li>
                                <li><a href="#"> categorie</a></li>
                                <li><a href="#"> categorie</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" placeholder="retrouver des elements"/>
                        <span class="input-group-btn"><button type="button"
                                                              class="btn btn-default"> Go! </button> </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-3">
                <a href="#"> Bienvenu sur | ASTRAL | la boutique en ligne</a>
            </div>
        </div>
        <ul class=" row nav nav-tabs nav-justified">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Onglet</a></li>
            <li><a href="#">Onglet</a></li>
            <li><a href="#">Onglet1</a></li>
            <li class="hidden"><a href="#">Onglet2</a></li>
            <li class="disabled"><a href="#">Onglet3</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Onglet <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">sous-menu</a></li>
                    <li><a href="#">sous-menu</a></li>
                    <li><a href="#">sous-menu</a></li>
                    <li class="divider"></li>
                    <li><a href="#">sous-menu</a></li>
                    <li><a href="#">sous-menu</a></li>
                    <li><a href="#">sous-menu</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</html>