<html>
<nav>
    <h2> Side bar boutique</h2>
    <ul class="nav nav-pills nav-stacked">
        <li> menu 1</li>
        <li> menu 2</li>
        <li> menu 3</li>
        <li> menu 4</li>
        <li> menu 5</li>
        <li> menu 6</li>
        <li> menu 7</li>
        <li> menu 7</li>
        <li> menu 7</li>
        <li> menu 7</li>
        <li> menu 7</li>
    </ul>
</nav>
</html>