<div class="container notification-body">
   <div class="row">
      <div class="col-sm-12">
      <div class="col-xs-12">
                                <div class="producttab ">
                                    <div class="tabsslider   col-xs-12">
                                        <ul class="nav nav-tabs font-sn">
                                            <li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-review">Vos Impressions (0)</a></li>
                                        </ul>
                                        <div class="tab-content  col-xs-12">
                                            <div id="tab-1" class="tab-pane active">
                                                <div class="cpt_product_description ">
                                                    <div>
                                                        <p>
                                                            <strong>Motivations personnelles.</strong>
                                                        </p>
                                                        <pre>With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any combination wherever you go.
                                                        </pre>
                                                        <p>
                                                            <strong>Categories d'expertise.</strong>
                                                        </p>
                                                        <p>
                                                            <span class="location" title="Electromenage cuisine et ustensiles">Electromenage</span>
                                                            <span class="location" title="Telephones et autres ">Electronique</span>
                                                            <span class="location" title="Les bracellets et autre">Accesoires</span>
                                                            <span class="location" title="Les robres pantalons et autre">Vetements</span>
                                                        </p>
                                                        <p>
                                                            <strong>Localite d'expertise.</strong>
                                                        </p>
                                                        <p>
                                                            <span class="location" title="Electromenage cuisine et ustensiles">Yaounde cameroun</span>
                                                            <span class="location" title="Telephones et autres ">Bertoua Cameroun</span>
                                                            <span class="location" title="Les bracellets et autre">Douala Cameroun</span>
                                                            <span class="location" title="Les robres pantalons et autre">Edea Cameroun</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                {#  cpt_container_end #}                      
                                            </div>
                                            <div id="tab-review" class="tab-pane">
                                                <form>
                                                    <h3>Envoyez lui vos impressions</h3>
                                                    <div class="contacts-form">
                                                        <div class="form-group">
                                                            <span class="icon icon-user"></span>
                                                            <input type="text" name="name" class="form-control" value="Your Name" onblur="if (this.value == '') {this.value = 'Your Name';}" onfocus="if(this.value == 'Your Name') {this.value = '';}">
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="icon icon-bubbles-2"></span>
                                                            <textarea class="form-control" name="text" onblur="if (this.value == '') {this.value = 'Vos Impressions';}" onfocus="if(this.value == 'Vos Impressions') {this.value = '';}"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
      </div>
   </div>
</div>