<div class="col-sm-12 filtre-part">
            <br>
            <div class="col-sm-4">
                  <div class="selector6" style="width: 30%;border:">
                     <select name="search_categories" style="width: 100%;border: 1px solid  black;border-right: none;height: 33px" class="form-controlp search_categories">
                                 <option>Filtre</option>
                                 <option value="31">Tout</option>
                     </select>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div>
                     <input class="tm_search_query form-control" type="text"   name="search_query" placeholder="Recherche" value="" style="padding-left: 10px">
                  </div>
               </div>
               <div class="col-sm-4" style="">
                  <ul class="pagination">
                     <li class="paginate_button previous disabled">
                        <a href="#" aria-controls="listClient">Previous</a>
                     </li>
                     <li class="paginate_button active">
                        <a href="#" aria-controls="listClient" data-dt-idx="1" tabindex="0">1</a>
                     </li>
                     <li class="paginate_button ">
                        <a href="#" aria-controls="listClient" data-dt-idx="2" tabindex="0">2</a>
                     </li>
                     <li class="paginate_button ">
                        <a href="#" aria-controls="listClient" data-dt-idx="3" tabindex="0">3</a>
                     </li>
                     <li class="paginate_button next">
                        <a href="#" aria-controls="listClient" data-dt-idx="4" tabindex="0">Next</a>
                     </li>
                  </ul>
                   {#<label class="dataTables_length" id="listClient_length">
                           <select name="listClient_length" >
                               <option value="10">10</option>
                               <option value="25">25</option>
                               <option value="50">50</option>
                               <option value="100">100</option>
                           </select>
                   </label>#}
               </div>
            <br>
            </div>