<div class=" page4" >
         <div class="">
            
               <div class="col-sm-12 " id="inscription_part" style="background-image: url('{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/bg.jpg')}}')">
                  <div class="col-sm-4 left-incrip_slide" style="float: left;margin-top: 10%;margin-left: 10%">
                     
                  </div>
                  <div class="col-sm-4" style="float: right;margin-top: 10%;margin-bottom: 10%">
                     <div class="modal-content1">
                        <table class="table-form2" >
                           <tr>
                              <td colspan="2" style="text-transform: uppercase">
                                 <center><b>Ouvrez votre compte!</b></center>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input type="text" name="" placeholder="Votre Nom">
                              </td>
                              <td>
                                 <input type="text" name="" placeholder="Votre Prenom">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input type="text" name="" placeholder="Votre Email">
                              </td>
                              <td>
                                 <input type="text" name="" placeholder="Votre Numero de telephone">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input type="text" name="" placeholder="Votre Pays">
                              </td>
                              <td>
                                 <input type="password" name="" placeholder="Votre Mot de Passe">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input type="text" name="" placeholder="Votre Pays">
                              </td>
                              <td>
                                 <input type="password" name="" placeholder="Votre Mot de Passe">
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2">
                                 <input type="submit" class="btn btn-primary btn-md" name="" style="width: 100%" value="Creer le compte">
                              </td>
                           </tr>
                        </table>
                        <hr>
                        <div class="bottom  hidden-login" onclick="$('.full-modal').slideDown(500)"><a href="#" >Vous avez deja un compte</a>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
