<div class="row-content">
                  {#  tangram:1764 begin #}
                  <div class="scc-category-unit scc-category-unit-index">
                     <div class="menu-category-view index-category indiv-category-view">
                        <h3 class="menu-button-title">
                           <i class="thin-icon-menu"> </i>
                            {% if evm_cat_title is defined %}  {{ evm_cat_title }} {% endif %} 
                        </h3>
                        <ul class="indiv-category-list" data-role="indiv-category-list" data-static="false" data-new="false">
                           <li class="category-item-wrapper thin-icon-machine" data-cid="43" data-cname="Machinery">
                              <a class="category-item util-ellipsis" target="_blank"  title="Machinery">Centre</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-phone" data-cid="44" data-cname="Consumer Electronics">
                              <a class="category-item util-ellipsis" target="_blank"  title="Consumer Electronics">Sud</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-vetement" data-cid="66" data-cname="Beauty &amp; Personal Care">
                              <a class="category-item util-ellipsis" target="_blank"  title="Beauty &amp; Personal Care">Litoral</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-accessoire" data-cid="23" data-cname="Packaging &amp; Printing">
                              <a class="category-item util-ellipsis" target="_blank"  title="Packaging &amp; Printing">Est</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-sport" data-cid="18" data-cname="Sports &amp; Entertainment">
                              <a class="category-item util-ellipsis" target="_blank"  title="Sports &amp; Entertainment">Ouest</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-diamant" data-cid="66" data-cname="Beauty &amp; Personal Care">
                              <a class="category-item util-ellipsis" target="_blank"  title="Beauty &amp; Personal Care">Nord</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-bed" data-cid="23" data-cname="Packaging &amp; Printing">
                              <a class="category-item util-ellipsis" target="_blank" title="Packaging &amp; Printing">Extreme-Nord</a>
                           </li>
                           <span><a href="">Tout</a></span>
                        </ul>
                     </div>
                  </div>
                  {#  tangram:1764 end #}
               </div>