<div class="row-content">
                  {#  tangram:1764 begin #}
                  <div class="scc-category-unit scc-category-unit-index" style="font-size: 100%;text-align: center">
                     <div class="menu-category-view index-category indiv-category-view">
                        <h3 class="menu-button-title">
                           <i class="thin-icon-menu"> </i>
                            {% if evm_cat_title is defined %}  {{ evm_cat_title }} {% endif %} 
                        </h3>
                        <img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/conseille/neuf.jpeg')}}" class="profil-img">
                        <center><h3>Jule lefoyer</h3></center>
                        <center><h3>#987493</h3></center>
                        <table>
                           <tr>
                              <td>Boutiques<br>24</td>
                              <td>Abonnés<br>261</td>
                           </tr>
                           <tr>
                              <td colspan="2"><center><button class='btn btn-secondary-2' onclick="confirm('Ajouter le transporteur a votre liste de contacts?')">Ajouter</button></center></td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  {#  tangram:1764 end #}
               </div>