<div class="row-content">
                  {#  tangram:1764 begin #}
                  <div class="scc-category-unit scc-category-unit-index">
                     <div class="menu-category-view index-category indiv-category-view">
                        <h3 class="menu-button-title">
                           <i class="thin-icon-deplacement"> </i> {% if evm_cat_title is defined %}  {{ evm_cat_title }} {% endif %} 
                        </h3>
                        <ul class="indiv-category-list" data-role="indiv-category-list" data-static="false" data-new="false">
                           <li class="category-item-wrapper thin-icon-avion" data-cid="43" data-cname="Machinery">
                              <a class="category-item util-ellipsis" target="_blank"  title="Machinery">Transport en Avion</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-bateau" data-cid="44" data-cname="Consumer Electronics">
                              <a class="category-item util-ellipsis" target="_blank"  title="Consumer Electronics">Transport en Bateau</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-camion" data-cid="66" data-cname="Beauty &amp; Personal Care">
                              <a class="category-item util-ellipsis" target="_blank"  title="Beauty &amp; Personal Care">Transport en Camion</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-car" data-cid="23" data-cname="Packaging &amp; Printing">
                              <a class="category-item util-ellipsis" target="_blank"  title="Packaging &amp; Printing">Transport en Voiture</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-moto" data-cid="18" data-cname="Sports &amp; Entertainment">
                              <a class="category-item util-ellipsis" target="_blank"  title="Sports &amp; Entertainment">Transport en Moto</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-velo" data-cid="66" data-cname="Beauty &amp; Personal Care">
                              <a class="category-item util-ellipsis" target="_blank"  title="Beauty &amp; Personal Care">Transport en Velo</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-deplacement" data-cid="23" data-cname="Packaging &amp; Printing">
                              <a class="category-item util-ellipsis" target="_blank" title="Packaging &amp; Printing">Autre transport</a>
                           </li>
                           <span><a href="">Tout</a></span>
                        </ul>
                     </div>
                  </div>
                  {#  tangram:1764 end #}
               </div>