<div class="row-content">
                  {#  tangram:1764 begin #}
                  <div class="scc-category-unit scc-category-unit-index">
                     <div class="menu-category-view index-category indiv-category-view">
                        <h3 class="menu-button-title">
                           <i class="thin-icon-menu"> </i>
                           {% if evm_cat_title is defined %}  {{ evm_cat_title }} {% endif %} 
                        </h3>
                        <ul class="indiv-category-list" data-role="indiv-category-list" >
                           <li class="category-item-wrapper thin-icon-machine" data-cname="Machinery">
                              <a class="category-item util-ellipsis"  href="#list_boutiques" title="Machinery">Boutiques</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-phone" data-cname="Consumer Electronics">
                              <a class="category-item util-ellipsis"  href="#list_produits" title="Consumer Electronics">Produits</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-vetement" data-cname="Beauty &amp; Personal Care">
                              <a class="category-item util-ellipsis"  href="#list_produits"  title="Beauty &amp; Personal Care">Services</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-camion" data-cname="Packaging &amp; Printing">
                              <a class="category-item util-ellipsis"  href="#list_transporteurs"  title="Packaging &amp; Printing">Transporteurs</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-sport" data-cid="18" data-cname="Sports &amp; Entertainment">
                              <a class="category-item util-ellipsis"   href="#list_conseilles" title="Sports &amp; Entertainment">Conseilles</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-diamant" data-cid="66" data-cname="Beauty &amp; Personal Care">
                              <a class="category-item util-ellipsis"  href="#list_produits"  title="Beauty &amp; Personal Care">Commissions</a>
                           </li>
                           <li class="category-item-wrapper thin-icon-bed" data-cid="23" data-cname="Packaging &amp; Printing">
                              <a class="category-item util-ellipsis"  title="Packaging &amp; Printing">Documentations</a>
                           </li>
                           <span><a href="">Tout</a></span>
                        </ul>
                     </div>
                  </div>
                  {#  tangram:1764 end #}
</div>