
    <center><h2>Documentations</h2></center>
    <table class="table table-bordered table-striped panel-primary display cell-border row-border compact" id="listClient">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Type</th>
                    <th>Creation</th>
                    <th>Mise a jour</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Type</th>
                    <th>Creation</th>
                    <th>Mise a jour</th>
                    <th>Option</th>
                </tr>
            </tfoot>
            <tbody>

                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>

                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Voiture</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Master Lead</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Voiture</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Master Lead</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Voiture</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Master Lead</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Master Lead</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Master Lead</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Master Lead</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Voiture</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Publier une annonce</td>
                    <td>Master Lead</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2015/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
                <tr>
                    <td>Ajouter un produit</td>
                    <td>Habillement</td>
                    <td>Service</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td><button class="btn btn-primary">Lire</button></td>
                </tr>
            </tbody>
    </table> 
    <script>
    

                $(document).ready(function() {
            $('#listClient').DataTable( {
                "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
                "lengthChange": true,
                "language":{
                    "url": "DataTables/French.json"
                }
            } );
        } );
    </script>
    <style type="text/css">
        #listClient_info{
            display: none;
        }
        table.table thead  th{
                background: #e4ecec;
        }
    </style>