<!-- START FOOTER BOTTOM -->
<div class="footer-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 copyright">
                We-Trade © 2017. All Rights Reserved. Designed by <a href="#">HIT-TEL</a>
            </div>
            <div class="col-sm-12 paymen">
                <img src="{{ asset('Shop/image/catalog/demo/payment/payment.png') }}" alt="imgpayment">
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER BOTTOM -->