<!-- START FOOTER CENTER -->
<div class="footer-center">
    <div class="footer-center-1 container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="module custom_link">
                    <div class="module clearfix">
                        <h3 class="footertitle">Our Shops</h3>
                        <ul id="menu-our-shops" class="menu">
                            <li class="menu-product-support"><a class="item-link" href="javascript:void(0);"><span class="menu-title">Product Support</span></a></li>
                            <li class="menu-pc-setup-support"><a class="item-link" href="javascript:void(0);"><span class="menu-title">PC Setup &amp; Support</span></a></li>
                            <li class="menu-services"><a class="item-link" href="javascript:void(0);"><span class="menu-title">Services</span></a></li>
                            <li class="menu-extended-service-plans"><a class="item-link" href="javascript:void(0);"><span class="menu-title">Extended Service Plans</span></a></li>
                            <li class="menu-community"><a class="item-link" href="javascript:void(0);"><span class="menu-title">Community</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="module clearfix">
                    <h3 class="footertitle">My Account</h3>
                    <div class="modcontent">
                        <ul class="menu">
                            <li><a href="javascript:void(0);">My Account</a></li>
                            <li><a href="javascript:void(0);">Order History</a></li>
                            <li><a href="javascript:void(0);">Wish List</a></li>
                            <li><a href="javascript:void(0);">Contact Us</a></li>
                            <li><a href="javascript:void(0);">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="module clearfix">
                    <h3 class="footertitle">Information</h3>
                    <div class="modcontent">
                        <ul class="menu">
                            <li><a href="javascript:void(0);">About Us</a></li>
                            <li><a href="javascript:void(0);">Delivery Information</a></li>
                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                            <li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 footer-extra">
                <div class="module clearfix">
                    <h3 class="footertitle">Extras</h3>
                    <div class="modcontent">
                        <ul class="menu">
                            <li><a href="javascript:void(0);">Brands</a></li>
                            <li><a href="javascript:void(0);">Gift Certificates</a></li>
                            <li><a href="javascript:void(0);">Affiliates</a></li>
                            <li><a href="javascript:void(0);">Specials</a></li>
                            <li><a href="javascript:void(0);">Returns</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer-contact">
                <div class="module ">
                    <div class="module clearfix">
                        <h3 class="footertitle">Contact Us</h3>
                        <ul>
                            <li><i class="fa fa-map-marker"></i><span>Address : No 40 Baria Sreet 133/2 NewYork City,<br>
                                NY, United States</span>
                            </li>
                            <li class="email"><i class="fa fa-envelope-o"></i>Email : contact@revo.com</li>
                            <li><i class="fa fa-mobile"></i><span>Phone 1 : 0123456789</span><span>Phone 2 : 0123456789</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 footer-menu clearfix">
                <div class="module custom_categories">
                    <div class="categories-footer">
                        <div class="footer-cates-w">
                            <nav role="navigation">
                                <a href="javascript:void(0);">Home</a>
                                <a href="javascript:void(0);">Categories</a>
                                <a href="javascript:void(0);">Mobiles</a>
                                <a href="javascript:void(0);">Electronics</a>
                                <a href="javascript:void(0);">Accessories</a>
                                <a href="javascript:void(0);">Laptop</a>
                                <a href="javascript:void(0);">About us</a>
                                <a href="javascript:void(0);">Help</a>
                            </nav>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center-2">
        <div class="container">
            <div class="row">
                <div class="footer-newsletter col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="module news-letter">
                        <div class="newsletter">
                            <div class="title-block">
                                <div class="page-heading">
                                    SIGN UP FOR NEWSLETTER			
                                </div>
                                <div class="pre-text">
                                    Duis at ante non massa consectetur iaculis id non tellus			
                                </div>
                            </div>
                            <div class="block_content">
                                <form method="post" name="signup" id="signup" class="btn-group form-inline signup">
                                    <div class="form-group required send-mail">
                                        <div class="input-box">
                                            <input type="email" placeholder="Your email address..." value="" class="form-control" id="txtemail" name="txtemail" size="55">
                                        </div>
                                        <div class="subcribe">
                                            <button class="btn btn-default btn-lg" type="submit" onclick="return subscribe_newsletter();" name="submit">
                                            Subscribe						</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--/.modcontent-->
                        </div>
                        <script type="text/javascript">
                            function subscribe_newsletter()
                            {
                                var emailpattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                                var email = $('#txtemail').val();
                                var d = new Date();
                                var createdate = d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
                                var status   = 0;
                                var dataString = 'email='+email+'&createdate='+createdate+'&status='+status;
                                if(email != "")
                                {
                                    if(!emailpattern.test(email))
                                    {
                                        $('.show-error').remove();
                                        $('.send-mail').after('<span class="show-error" style="color: red;margin-left: 10px"> Invalid Email </span>')
                                        return false;
                                    }
                                    else
                                    {
                                        $.ajax({
                                            url: 'index.php?route=extension/module/so_newletter_custom_popup/newsletter',
                                            type: 'post',
                                            data: dataString,
                                            dataType: 'json',
                                            success: function(json) {
                                                $('.show-error').remove();
                                                if(json.message == "Subscription Successfull") {
                                                    $('.send-mail').after('<span class="show-error" style="color: #003bb3;margin-left: 10px"> ' + json.message + '</span>');
                                                    setTimeout(function () {
                                                        var this_close = $('.popup-close');
                                                        this_close.parent().css('display', 'none');
                                                        this_close.parents().find('.so_newletter_custom_popup_bg').removeClass('popup_bg');
                                                    }, 3000);
                            
                                                }else{
                                                    $('.send-mail').after('<span class="show-error" style="color: red;margin-left: 10px"> ' + json.message + '</span>');
                                                }
                                                var x = document.getElementsByClassName('signup');
                                                for (i = 0; i < x.length; i++) {
                                                x[i].reset();
                                                }
                                            }
                                        });
                                        return false;
                                    }
                                }
                                else
                                {
                                    alert("Email Is Require");
                                    $(email).focus();
                                    return false;
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER CENTER -->