{% set evm_title = 'Connexion' %}
<!DOCTYPE html>
<html lang="fr-fr" class="desktop portrait">
   {% include "::base/platform/Template/init_header.html.twig" %}
   <body id="index" class="index hide-left-column hide-right-column lang_fr  one-column">
      
      {% block bef_header %}{% endblock bef_header %}

      {% include "::base/platform/Template/inscription.html.twig" %}


   </body>
</html>
          