
{% set evm_title = '' %}
{% set evm_cat_title = 'Annonce' %}

{% extends "::base/platform/init.html.twig" %}
      {% block evm_body %}
         {#  .columns-container #}
         <div class="page2 background-red" >
            <div class="col-sm-12 row content2" style="padding-left: 0px">
               <div class="col-sm-2" style="padding-left: 5px;padding-right: 0px">
                  {% include "::base/platform/Template/left_menu_categorie.html.twig" %}
               </div>
               <div class="col-sm-7" style="background: #e4ecec;padding: 0">
                  {% include "::base/platform/Template/annonces.html.twig" %}
               </div>
               <div class="col-sm-3 " style="padding-right: 0px">
                  {% include "::base/platform/Template/best_produits.html.twig" %}
               </div>
            </div>
         </div>

{#         {% include "::base/platform/Template:plan.html.twig" %}#}
         <div class="page3  background-green"  >
            {% include "::base/platform/Template/how_to_do.html.twig" %}
         </div>
         {% include "::base/platform/Template/inscription.html.twig" %}
     
      {% endblock evm_body %}
