
{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <h1>Création d'un compte Staff AVM</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
{% endblock fos_user_content %}