{% trans_default_domain 'FOSUserBundle' %}
<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
{% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
{% endif %}

    {{ render(url('apm_core_main_show')) }}