{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Rabais_offre creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('apm_vente_rabais_offre_index', {'id':offre.id}) }}">retour à la liste</a>
        </li>
    </ul>
{% endblock %}
