<html>
<nav class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Easy menu <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li class="divider"></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li class="divider"></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu1</a></li>

    </ul>
</nav>
</html>