<div class="modal fade bs-{{a.id}}-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">
                    Suppression de
                    <br>{{ a.username }}.
                </h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                Voulez-vous continuer ?
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger tooltipster-punk" href="{{ path('apm_admin_delete', {'id' : a.id}) }}">
                    <i class="fa fa-trash"></i> OUI
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">NON</button>
            </div>
        </div>
    </div>
</div>