{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Commentaire creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('apm_user_commentaire_index', {'id':offre.id}) }}">Retour à la liste des commentaires</a>
        </li>
    </ul>
{% endblock %}
