
<!DOCTYPE html>
<html>
<head>
	<title>apm empty</title>
</head>
<body>
<h1>BOBODO</h1>
<img src="{{ app.request.getSchemeAndHttpHost() ~ app.request.getSchemeAndHttpHost() ~ asset('plateform/hitel/images/rotating_card_thumb.png')}}"/>
{% block body %}

{% endblock body %}
</body>
</html>