
.content-spinner {
    position: relative;
    z-index: 2000;
    left: auto;
    top: auto;
    width: auto;
}
.modal-spinner {
    position: absolute;
    left: 40%;
    top:40%;
    width: auto;
    height: 150px;
    border: black 4px;
    opacity: 0.4;
    background-color: #95a5a6;
}