.modal-spinner {
    position: absolute;
    z-index: 2000;
    left: 40%;
    top:40%;
    width: auto;
    height: 25%;
    border: black 4px;
    opacity: 0.4;

}

.modal .modal-spinner {
    position: relative;
    height: 100%;
}

footer{

}
.footer-navbar {
    background-color: #95a5a6;
    opacity: 0.9;
    padding: 10px 10px 51px;
}

table .display-control-static {
    text-align: right;
    width: 75%;
}
