<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="item active thumbnail">
            <a href="#">
                {% image 'client/assets/img/background.jpg' %}
                <img src="{{ asset_url }}" alt="easy-trade news" class="img-responsive"/>
                {% endimage %}
                <p class="caption">Made in Cameroun</p>
            </a>
        </div>
        {% for i in 1..8 %}
            <div class="item thumbnail">
                <a href="#">
                    {% image 'client/assets/img/slider/1.jpg' %}
                    <img src="{{ asset_url }}" alt="easy-trade news" class="img-responsive"/>
                    {% endimage %}
                    <p class="caption">Made in Cameroun</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>
