<section class="container post" role="alert">
    <article class="col-lg-4 thumbnail">
        <h1> A la une ce mois </h1>
        <h2> En Baisse de prix</h2>
        <div>
            {% image "client/assets/img/banner.jpg" %}
            <img src="{{ asset_url }}" class="img-responsive"/>
            {% endimage %}
            <p class="caption">
                Tout ce qu'il y'aura à dire sur l'aticle.
            </p>
        </div>
    </article>
    <article class="col-lg-4 thumbnail">
        <h1> A la une ce mois </h1>
        <h2> En Baisse de prix</h2>
        <div>
            {% image "client/assets/img/banner.jpg" %}
            <img src="{{ asset_url }}" class="img-responsive"/>
            {% endimage %}
            <p class="caption">
                Tout ce qu'il y'aura à dire sur l'aticle.
            </p>
        </div>
    </article>

    <article class="col-lg-4 thumbnail">
        <h1> A la une ce mois </h1>
        <h2> En Baisse de prix</h2>
        <div>
            {% image "client/assets/img/banner.jpg" %}
            <img src="{{ asset_url }}" class="img-responsive"/>
            {% endimage %}
            <p class="caption">
                Tout ce qu'il y'aura à dire sur l'aticle.
            </p>
        </div>
    </article>

    <aside class="thumbnail">
        <p>
        </p>
    </aside>


</section>