<!DOCTYPE html>
<html lang="en">
<footer class="footer">

    <div class="row">
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
    <h3> Mon pied de page ici</h3>
</footer>
</html>