<!-- START BANNIERE_FOOTER -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_4jdv block block_6">
    <div class="banners">
        <div>
            <a href="javascript:void(0);">
            <img src="{{ asset('Shop/image/catalog/demo/banners/home1/9.jpg') }}" alt="Image Client">
            </a>
        </div>
    </div>
</div>
<!-- END BANNIERE_FOOTER -->