<!-- START REDUCTION -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_on51 block block_2">
    <div class="h1-banner2">
        <div class="row banners">
            <div class="banner21 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="javascript:void(0);">
                <img src="{{ asset('Shop/image/catalog/demo/banners/home1/4.jpg')}}" alt="Image Client">
                </a>
            </div>
            <div class="banner21 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="javascript:void(0);">
                <img src="{{ asset('Shop/image/catalog/demo/banners/home1/5.jpg')}}" alt="Image Client">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END REDUCTION -->